[submodule "themes/code-editor"]
	path = themes/code-editor
	url = https://github.com/aubm/hugo-code-editor-theme.git
	branch = master
[submodules "public"]
	branch = master
[submodule "themes/hugo-paper"]
	path = themes/hugo-paper
	url = https://github.com/nanxiaobei/hugo-paper
	branch = master
[submodule "themes/hugo-vitae"]
	path = themes/hugo-vitae
	url = https://github.com/datacobra/hugo-vitae.git
