[submodule "themes/hugo-vitae"]
	path = themes/hugo-vitae
	url = https://github.com/datacobra/hugo-vitae.git
[submodule "public"]
	path = public
	url = https://github.com/prasadghole/prasadghole.github.io.git
[submodule "themes/even"]
	path = themes/even
	url = https://github.com/olOwOlo/hugo-theme-even
